body {
    margin: 0;
    padding: 0;
    background-color: #ffffffce;
    color: #333;
    line-height: 1.8;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(30, 4, 4);
    color: white;
    text-align: center;
    font-family: 'cinzel';
    padding: 1.5rem 1rem;
    margin: 0;
    font-size: 26px;
}

/* cart items */
.cart-page {
    margin: 80px auto;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.cart-info img {
    width: 80px;
    height: auto;
    margin-right: 12px;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #888;
    font-weight: normal;
}

th:last-child {
    text-align: right;
}

td {
    padding: 15px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a,
.remove-btn {
    color: #888;
    font-size: 12px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

